
.container-footer{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    }
  .footer {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: var(--main-background-color);
    height: 252px;
  }
