.footer-logo{
    margin-bottom: 20px;
    color: var(--background-maintittle-color);
    font-family: Raleway, sans-serif;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
    display: flex;
  }